.tabs-custom-header {
  display: flex;
  justify-content: flex-start;
  background-color: var(--light);
  margin-bottom: 8px;
  border: none;
}
.tabs-custom-header .tab-custom-item {
  color: #999;
}

.tab-custom-item {
  justify-content: flex-start;
}

.tab-custom-item .tab-custom-button {
  box-sizing: border-box;
  padding: 15px 25px;
  color: #999;
  margin-bottom: -10px;
  margin-left: -1px;
  text-decoration: none;
  border-radius: 6px;
  background-color: var(--light);
  border-radius: 5px;
}

.tab-custom-item .tab-custom-label {
  margin-top: 8px;
}

.tab-custom-item .tab-custom-button:focus {
  background-color: var(--light);
  box-sizing: border-box;
  padding: 15px 25px;
  color: var(--primary);
  margin-bottom: -1px;
  margin-left: -1px;
}

.tab-custom-item.active {
  position: relative;
  background: var(--light);
  box-sizing: border-box;
  display: inline-block;
  border-bottom: 1px solid var(--light);
  border-radius: 5px 5px 0 0;
}

.tab-custom-item .tab-custom-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: var(--primary);
  margin-bottom: -1px;
  margin-left: -1px;
}

.tab-custom-item.active .tab-custom-button {
  margin-top: 1px;
}

.tab-custom-item .tab-custom-button:before {
  content: "";
  box-sizing: border-box;
  display: inline-block;
  color: #999;
  height: 15px;
  background-color: var(--light);
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: 10;
}

.tab-custom-item .tab-custom-button:hover {
  color: var(--primary);
  cursor: pointer;
}

.tab-custom-item.active:after {
  box-sizing: border-box;
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 15px var(--dark);
}
/*
*/
.tabs-custom-content .tab-custom-content {
  display: none;
}

.tabs-custom-content .tab-custom-content.active {
  display: block;
  margin-top: -10px;
  box-shadow: 0 0 15px var(--dark);
}
