/* .small-box {
  background-color: cadetblue;
}

.small-box .inner {
  background-color: red;
}

.small-box .inner h3 {
  background-color: blue;
}

.small-box .inner p {
  background-color: yellow;
} */
