.dashboard-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 20px;
}

.dashboard-charts .dashboard-chart-item {
  margin: 15px;
  height: 300px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 6px 3px -1px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.dashboard-charts .dashboard-chart-item-2x {
  width: 60%;
  height: 300px;
}
