.app {
  margin: 0px;
  display: grid;
  height: 100vh;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows:
    var(--header-height)
    1fr
    var(--footer-height);
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar footer";

  background-color: var(--ligth);
}

header.header {
  grid-area: header;
}

aside.main-sidebar {
  grid-area: sidebar;
}

main.content {
  grid-area: content;
}

footer.footer {
  grid-area: footer;
}
