header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header .title-link a {
  color: gray;
  font-size: 1.3em;
  padding-left: 50px;
}
