header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

header .title-link a {
  color: gray;
  font-size: 1.3em;
  padding-left: 50px;
}

/* header .list-inline { */
/* display: flex; */
/* flex-direction: row; */
/* justify-content: space-between; */
/* align-items: center; */
/* height: 100%; */
/* margin: 0; */
/* } */
/* 
header nav ul li a {
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
} */
