footer.footer-default {
  height: var(--footer-height);
}

footer.footer-default .container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

footer.footer-default .container .bebride-assessoria,
footer.footer-default .container .copyright {
  margin: 2px;
}

@media (max-width: 576px) {
  footer.footer-default .container .bebride-assessoria,
  footer.footer-default .container .copyright {
    margin: 2px;
  }
}
