@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:200,400,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --logo-height: 64px;
  --header-height: 64px;
  --menu-top-height: 70px;
  --aside-width: 225px;
  --footer-height: 40px;

  --shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

body {
  background: #e5e6f0;
  --webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto", "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
