.about-block {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-items: auto;
  align-content: center;
  text-align: center;
}

.about.title {
  text-align: start;
  font-size: 2em;
}

.about.title span {
  margin-left: 15%;
}

.about.title p {
  font-size: 3rem;
  line-height: 1.5em;
  color: var(--primary);
  /* padding-left: 3em; */
  text-align: center;
}

.about-text-background {
  background: rgba(199, 191, 230, 0.7);
}

.about-descr {
  color: var(--description-color);
  text-align: justify;
  font-size: 18px;
}
.features .icon {
  font-size: 4em;
  padding: 40px;
  color: var(--primary);
}

@media (max-width: 959px) {
  .about-block {
    padding: 0;
    margin: 0;
  }

  .about.title {
    font-size: 1.6em;
  }

  .about.title span {
    margin-left: 0;
  }
  .about.title p {
    font-size: 2.4rem;
    line-height: 1.5em;
    color: var(--primary);
    padding-left: 0;
  }
}
