.banner-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* font-family: "Roboto Slab"; */
  /* font-size: 1.2em;
  font-weight: 200; */
  color: white;
  /* height: 900px; */
  height: 95vh;
}

.banner-body span {
  font-size: 3vm;
  margin: 3px;
}

.banner-body .title {
  font-family: "Roboto slab";
  font-size: 5vh;
  font-weight: 500;
}
.banner-body .subtitle {
  font-family: "PT Serif", serif;
  font-size: 3vh;
  font-weight: 500;
  padding-top: 20px;
}
