.top-content .carrousel-inner {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: baseline;
  margin-top: 20px;
  min-width: 250px;
}

.top-content .carrousel-inner img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 6px;
}

.rc-pagination li {
  display: inline-block;
  margin: 4px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  z-index: 1000;
}

.rc-pagination .rc-pagination-item-active-disabled {
  display: inline-block;
  font-weight: 400;
  color: #000;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rc-pagination .rc-pagination-item-active {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rc-pagination-prev a,
.rc-pagination-prev a:after {
  content: "‹";
  display: inline-block;
}

.rc-pagination-prev.rc-pagination-disabled {
  content: "›";
  display: inline-block;
  color: #999;
  border: none;
  cursor: default;
}

.rc-pagination-next a,
.rc-pagination-next a:after {
  content: "›";
  display: inline-block;
}
.rc-pagination-next.rc-pagination-disabled {
  content: "›";
  display: inline-block;
  color: #999;
  border: none;
  cursor: default;
}

.rc-pagination-jump-prev a {
  content: "...";
  display: inline-block;
}
.rc-pagination-jump-prev a:after {
  content: "«";
  display: inline-block;
}
.rc-pagination-jump-prev:hover:after {
  content: "«";
  display: inline-block;
}

.rc-pagination-jump-next a {
  content: "...";
  display: inline-block;
}
.rc-pagination-jump-next a:after {
  content: "»";
  display: inline-block;
}
.rc-pagination-jump-next:hover:after {
  content: "»";
  display: inline-block;
}

.carrousel-item {
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
