.page-header-site {
  font-size: 1.1em;
  font-family: "Roboto";
}

.page-header-site .navbar-transparent {
  transition: all 0.7s ease-out;
  color: white;
}

.page-header-site .navbar-color-on-scroll {
  transition: all 0.5s ease-out;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.page-header-site .navbar-transparent .nav-item a {
  color: white;
}

.page-header-site .navbar-color-on-scroll .nav-item a {
  color: var(--title-color);
}

.page-header-site .navbar-color-on-scroll .nav-item a:hover {
  color: white;
}

.page-header-site .navbar-transparent .navbar-toggler {
  color: white;
  font-size: 1.7em;
}

.page-header-site .navbar-color-on-scroll .navbar-toggler {
  color: var(--title-color);
  font-size: 1.7em;
}

.navbar-translate button:focus {
  outline: none;
}

.dropdown-item.navbar-transparent:hover {
  background-color: var(--primary);
}
.dropdown-item.navbar-transparent:focus {
  background-color: var(--primary);
}

.dropdown-item.navbar-color-on-scroll:hover {
  background-color: var(--primary);
}
.dropdown-item.navbar-color-on-scroll:focus {
  background-color: var(--primary);
}

.dropdown-item.navbar-color-on-scroll > a {
  color: white;
}
.dropdown-item.navbar-color-on-scroll > a {
  color: white;
}
