.page-header-site {
  font-size: 1.1em;
  font-family: "Roboto Slab";
  font-weight: 400;
}

.navbar-translate button {
  color: white;
  font-size: 1.7em;
}

.navbar-translate button:focus {
  outline: none;
}

.page-header-site i {
  font-size: 1.2em;
}
.page-header-site .navbar-transparent {
  transition: all 0.7s ease-out;
  color: white;
}

.page-header-site .navbar-color-on-scroll {
  transition: all 0.7s ease-out;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.page-header-site .nav-item a.dropdown-item:hover,
.page-header-site .nav-item a.dropdown-item:focus {
  color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--primary);
  color: white;
}

/******-------------*****/

.page-header-site .navbar-transparent .nav-item a.nav-link,
.page-header-site .navbar-transparent .nav-item span.nav-link,
.page-header-site .navbar-transparent .nav-item .nav-link span,
.page-header-site .navbar-transparent .nav-item .nav-link a {
  color: white;
}

.page-header-site .navbar-color-on-scroll .nav-item span.nav-link,
.page-header-site .navbar-color-on-scroll .nav-item a.nav-link,
.page-header-site .navbar-color-on-scroll .nav-item .nav-link span,
.page-header-site .navbar-color-on-scroll .nav-item .nav-link a {
  color: #333;
}

.page-header-site .navbar-transparent .nav-item a.nav-link:hover,
.page-header-site .navbar-transparent .nav-item span.nav-link:hover,
.page-header-site .navbar-transparent .nav-item .nav-link span:hover,
.page-header-site .navbar-transparent .nav-item .nav-link a:hover,
.page-header-site .navbar-color-on-scroll .nav-item span.nav-link:hover,
.page-header-site .navbar-color-on-scroll .nav-item a.nav-link:hover,
.page-header-site .navbar-color-on-scroll .nav-item .nav-link span:hover,
.page-header-site .navbar-color-on-scroll .nav-item .nav-link a:hover {
  color: #000;
}

.dropdown-menu.show {
  position: absolute;
  display: block;
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
  color: #333;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li > a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.125rem;
  margin: 0 0.3125rem;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  overflow: hidden;
  line-height: 1.428571;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
