.features .icon {
  font-size: 4em;
  padding: 40px;
  color: var(--primary);
}

.features p,
.carrousel-item .card-text,
.card-plain .card-description {
  color: var(--description-color);
}

.features .info-title,
.carrousel-item .card-title,
.card-plain .card-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5em;
}

.features p {
  text-align: justify;
}
.card.card-plain {
  border: none;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.info a {
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  background-color: var(--primary);
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info a:hover {
  background-color: #a79ad8;
  border-color: #9f91d4;
}
