.team-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.team-content img {
  align-self: center;
  padding: 1.6em;
  width: 22em;
}
.team-content .title {
  padding-top: 30px;
}

.team-content .card-title {
  font-size: 20px;
}

.team-content .team-text-background {
  background: rgba(199, 191, 230, 0.7);
}

.team-content .team-descr {
  color: var(--description-color);
  text-align: justify;
  font-size: 18px;
}

.team-content .team-descr a i {
  font-size: 32px;
}

@media only screen and (max-width: 959px) {
  .team-content img {
    align-self: center;
    padding: 1em;
    width: 12em;
  }
}
