/* 
Slide de fundo
*/

.page-header {
  min-height: calc(100vh - var(--footer-height));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page-footer {
  height: var(--footer-height);
}
/* 
  Card
*/
.card.card-login {
  border: 0;
  margin-bottom: 30px;
  margin-top: 15vh;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/* 
  Header destacado 
*/
.card-header {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -40px;
  padding: 20px 0;
  margin-bottom: 15px;
  border-radius: 6px;
  color: #fff;
  background-color: var(--primary);
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

.card-header:first-child {
  border-radius: 6px;
}

.card-login .description {
  font-size: 16px;
}

.card-login .card-body .input-block {
  width: 92%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group .input-group-prepend {
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
}

.input-group .input-group-prepend > i {
  font-weight: 100;
}

.card-login .input-group .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom: 1px solid var(--gray);
  font-size: 14px;
  color: #000;
}

.card-login .input-group .form-control:focus {
  background-size: 100% 100% 100% 100%;
  transition-duration: 0.3s;
  box-shadow: none;
  border-bottom: 2px solid var(--primary);
}

.login-forgot,
.login-newuser {
  font-family: "robot slab";
  color: var(--primary);
}

.login-forgot:hover,
.login-newuser:hover {
  font-family: "robot slab";
  font-weight: 700;
  color: #000;
}

.recovery-error {
  border: 1;
  padding: 40px;

  margin-top: 30vh;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.2);
  background: #fff;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.recovery-error span {
  color: red;
  font-size: 1.4em;
}
